body{
	background-color: #0c1c2f !important;
	color:#f2e2d2 !important;
}


.container{
	margin-top: 2%;
}


#row1{
	margin-top: 0;
	padding-top: 0;
}

#brand-logo{
  width: 200px;
  transform: translateX(-50%);
  margin-left: 50%;
  bottom: -65%;
  position: absolute;
}

/*desktop navbar*/

.navbar-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.mynav{
	background-color: #ffffff;
	overflow: hidden;
	height:50px;
	margin-top: 4%;
	padding-top: 0px;
	margin-bottom: 2%;
	position: absolute;
	z-index: 999;
}

.nav_options{
	float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#logo{
	margin-top: 1%;
	padding-top: 0;
	margin-left: 33%;
	position: absolute;
	width:12%;
	z-index: 1000;
}


#acc{
	margin-left: 10%;
	margin-right: 0;
}

#e{
	margin-left: 22%;
	padding-left: 0;

}

.nav_options:hover{
	color: black;
	text-decoration: none;
}


.nav_options:hover{
	color: black;
	text-decoration: none;
}

.btn-primary-outline{
	background:transparent;
	color:#000000;
	padding-bottom: 0;
}

.btn-primary-outline:hover{
	background-color: #0c1c2f;
	color:#e0cf95;
}


/*CAROUSEL*/


#slideshow .carousel-inner{
    position: relative;
    text-align: center;
    color: white;
    font-size: 2em;
    margin-bottom: 2%;
}

.mobile_img{
	display:none; 
	visibility: hidden;
}

#slideshow .carousel-inner img{
	width:100%;
	height:800px;
}


/*account-container*/
#account-container{
	padding-bottom: 2%;
}

#account-container #package-details{
	border-style: solid;
	margin-left: 1%;
	margin-bottom: 2%;
}

/*services*/
#services-container .card{
	padding:0 0 0 0;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 2%;
	color: white;
}

h1{
	padding-left:1%; 
	color: #0c1c2f;
	border-left: 5px solid #e88000; 
}

#services-container .card .card-body{
	text-align: center;
	padding-top: 25%;
}

#services-container .card .card-body p{
	display: none;
}

#services-container .card:hover p{
	display: block;
}

#services-container .card:hover .card-body{
	padding-top: 15%;
}



/*equipment*/
#equipment-container{
	margin-bottom: 2%;
}

#equipment-container div{
	padding: 0 0 0 0;
}

#equipment-container img{
	width: 100%;
	height:200px;
}

#e1{
	background-color: #0c1c2f;

}

#e1 iframe{
	width:100%;
}





/*feedback*/
#feedback-container{
	padding-left: 2%;
}

.button-padding{
	padding-top: 1%;
}

/*mobile view*/
@media only screen and (max-width: 400px) {
    .desktop_img{display:none; visibility: hidden;}
    .mobile_img{display:block; visibility: visible;}

    #desktop-navbar{display:none; visibility: hidden;}
    #mobile-navbar{display:block; visibility: visible;}

    #equipment-container img{
    	padding:2% 2% 2% 2%;
    }
    #brand-logo{
	    width: 75px;
	    margin-left: 230%;
	    position: relative;
	}
	#hidden-xs{
		display: none;
	}
	#mobile-button{
	margin-left: 57%;
	}
} 

